.table {
  width: 600px;
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid green;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
